.login-container {
  border: 1px;
  width: 300px;
    max-width: 350px;
    padding: 30px;
  display: flex;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  
}

.main-wrapper {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
    min-height: 85vh;      
    background-color: #f5f5f5;
  }